<div class="row" ng-Controller="MainCtrl">
    <div class="col-lg-offset-4" id="givingtree">
        <img name="mapOfTree" src="..\..\..\images\rsz_treedraft7.png" usemap="#treemap" border="0" width="100%" />
        <map name="treemap">
            <area class="ornaments" id="edu" href="education.html" shape="poly" coords="793,250,757,257,727,278,706,308,699,344,706,380,727,410,757,431,793,438,829,431,859,410,880,380,887,344,880,308,859,278,829,257" title="Education" data-toggle="tooltip" data-placement="bottom" data-container="area"/>
            <area class="ornaments" id="water" href="water.html" shape="poly" coords="444,448,405,456,372,478,350,511,342,550,350,589,372,622,405,644,444,652,483,644,516,622,538,589,546,550,538,511,516,478,483,456" title="Water" data-toggle="tooltip" data-placement="bottom" data-container="area"/>
            <area class="ornaments" id="ops" href="teachers.html" shape="poly" coords="829,550,785,559,748,583,724,620,715,664,724,708,748,745,785,769,829,778,873,769,910,745,934,708,943,664,934,620,910,583,873,559" title="Operations" data-toggle="tooltip" data-placement="bottom" data-container="area"/>
        </map>
    </div>
</div>

<script> $('map').imageMapResize(); </script>
