
 <section class="section--yellow wow fadeInLeft" id="head" data-wow-duration="2s">

                <h1>The Giving Tree</h1>

            </section>
            

            <div class="clear"></div>
            
            <!-- 3 COLUMN DEMO  -->     
            <div class="col_half"> 
                <section class="section--green wow fadeInRight" data-wow-delay="0.1s" style="visibility: visible; -webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">
                    <center><i class="ionicons ion-waterdrop"></i></center><br>
                    <p>Water</p>
                </section>
            </div>
            
            <div class="col_half end"> 
                <section class="section--blue wow fadeInRight" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
                    <center><i class="ionicons ion-ios-book-outline"></i></center><br>
                    <p>Education</p>
                </section>        
            </div>
            
            <div class="col_half"> 
                <section class="section--purple wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
                    <center><i class="ionicons ion-ios-gear-outline"></i></center><br>
                    <p>Operations</p>
                </section>        
            </div>

            <div class="col_half end"> 
                <section class="section--red wow fadeInRight" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s; -moz-animation-delay: 0.4s; animation-delay: 0.4s;">
                    <center><i class="fa fa-diamond"></i></center><br>
                    <p>Diamonds</p>
                </section>        
            </div>

            <div class="clear"></div>
            <!-- END / 3 COLUMN DEMO -->
            
            <div class="service-section">
                <!-- <div class="wow_imgage wow fadeInLeft" data-wow-delay="0.1s" style="visibility: visible; -webkit-animation-delay: 0.1s; -moz-animation-delay: 0.1s; animation-delay: 0.1s;">                     -->
<!--                         <figure>        
                            <img src="http://lorempixel.com/output/food-q-c-600-400-1.jpg" width="270" height="180"></img>
                        </figure>  -->              
                <!-- </div> -->

<!--                 <div class="wow_imgage wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; -webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">    
                            <img src="http://lorempixel.com/output/food-q-c-600-400-2.jpg" width="270" height="180"></img>  
                </div> -->

<!--                 <div class="wow_imgage end wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; -webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
            <img src="http://lorempixel.com/output/food-q-c-600-400-3.jpg" width="270" height="180"></img>
                </div> -->
                </div>
          <!--.SERVICES SECTION-->
                <div class="clear"></div>
                
                <section class="section--yellow wow fadeInDown" id="footer" data-wow-duration="1s">
                    <center><h1>Contact Information</h1></center>
                </section>
                      
