
body {
    font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
    width: 100%;
    height: 100%;
}

.navbar-brand {
    margin-top: -15px;
}

#mapOfTree {
    height:auto;
    max-width: 100%;
}

.descTxt {
	color: green;
	text-align: center;
	font-size: 16px;
}

#jumbo {
    height: auto;    
    background-color: rgba(0,0,0,0);
}
#givingtree {
    height:auto;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
}

#contact{
  background-color: #F5F5F5;
}

.tooltip{
    margin-left: 100px;
    margin-top: 100px;
    height: 200px;
    width: 200px;
    background-color: white;
    color: white;
}

#title{
    text-align: center;
    margin-bottom: 50px;
}

.charity{

    border: solid 3px ;
    min-height: 300px;
    min-width: 400px;
    text-align: center;
    padding: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;



}

#allDonations{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 75px;

}































